// breackpoints
$tablets:768px;
$phones:480px;

@import "media.scss";
@import "layout.scss";
@import "page1.scss";
@import "page2.scss";
@import "page4.scss";
@import "page5.scss";
@import "page6.scss";
@import "page8.scss";
@import "page9.scss";
