

.section__map{
    height:rem(650px);
    background-size: cover;
background-repeat: no-repeat; 

}
.map{
    background: url("../img9/map.jpg");
    background-repeat: no-repeat; 
    position: relative;    
}

.footer{
    display: flex;
    /* height: 60px; */
    width:100%;
    background: url("../img9/footer.jpg");
    left: 0;
    bottom: 0;
    /* background-repeat: no-repeat;   */
    
}
.container__row{
    flex-direction: row;
}
.container{
    // width: 100%;
    // margin:rem(10px) rem(80px);
    // display: flex;
    // justify-content: space-between;
    @include phones{
        align-items: center;
        flex-direction: column;
    }
    
}
.footer__left{
    width: 50%;
}
.footer__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__contact{
    display: flex;
    color: #fff;
    margin-bottom:5px;
}

/* .footer__left{
    width: 50%;
}
.footer__left_contact{
    color: #fff;
} */
.footer_phone::before{
    content: '';
     display: block; 
     width: 12px;
    height: 11px; 
     background: url('../img9/phone.png');
    margin-right: 10px;
}
.footer_phone{
    display: flex;
    align-items: center;
   color:#e45028;
   text-decoration: none;
}
.footer__right{
    width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social{
    display: flex;
    justify-content: flex-end;
}
.social__list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.vk-icon{
    fill:#595959;
    width:rem(25px);
    height: rem(15px);
    margin-left:rem(20px);
}
.fb-icon{
    fill:#595959;
    width:rem(20px);
    height: rem(20px);
    margin-left: rem(20px);
}
.inst-icon{
    fill:#595959;
    width:rem(20px);
    height: rem(20px);
    margin-left: rem(20px);
}
.twitter-icon{
    fill:#595959;
    width:rem(17px);
    height: rem(20px);
    margin-left: rem(20px);
}
.vk-icon:hover{
    fill:#fff;   
}
.fb-icon:hover{
    fill:#fff;   
}
.inst-icon:hover{
    fill:#fff;   
}
.twitter-icon:hover{
    fill:#fff;   
}