.best{      
    background: url("../img2/bg.jpg");   
}
.container{
    padding-top: 100px;
  
    display: flex;
   flex-direction: column;
   align-items: center;
  
}
.title__color{
    color:#2f3234;
    margin-bottom: 50px;
}
.best__list{
    display:flex;
    width:920px;
    justify-content:space-between;
}
.best__item{
    display:flex;
    width:310px;
    flex-direction: column;
    align-items: center;
}
.best__img{
    margin-bottom: 40px;
}
.best__title{
    color:#2f3234;
    font-family: 'lifehack';
    font-size: 24px;
    margin-bottom: 10px;
}
.best__desc{
    color:#2f3234;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}