
.section-team{
    position: relative;    
    background: url("../img4/bg.jpg"); 
   }
.team__background {
    
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    height: 100%;

width: 50%;
height: 0;
position: absolute;
top: 0;
right: 0;     
background-color: rgba(44,47,49, 0.9);
box-sizing: border-box;
@include tablets {
    left: 0;   
    width: 100%;
    text-align: center;
}
}
.title{
    font-family: "Gagalin";
    color: #f9b43b;
font-size:  rem(62px);
font-weight: 400;
line-height:  rem(42.5px); 
// margin-bottom: rem(20px);
}

.team__block{
    display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
@include tablets {
    align-items: center;
}
}
// .title_margin{
//     margin-left: rem(100px);    
// }
.team__list{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    @include tablets {
        align-items: center;
      
    }
    // padding-left: rem(100px);
}
.team__item{
    color:  #ffffff;
    font-family:'Gagalin';
    font-size: rem(14px);
    margin-bottom: rem(40px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tablets {
        align-items: center;
    }
    // position: relative; 
}
.team__link{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 20px;
}

.team__link::before {
    display: flex;
    content: " ";
    border:rem(6px) solid transparent;
    border-bottom: rem(6px) solid  #f9b43b;
    position: absolute;
    left: rem(-23px);
    top: rem(-1px); 
}
// .team__img{
//     width: 100px;
//     height: 100px;
//     border-radius:50%; 
//     overflow:hidden;
// }
.team__photo{
    // margin-top: rem(20px);
    background: url('../img4/photo.jpg') center;
    width: rem(90px);
    height: rem(90px);
    background-size:cover; 
    border-radius: 50%;

}
.team__manager{
    display: flex;
    height: 0;
    overflow: hidden;
    @include tablets {
        flex-direction: column;
        align-items: center;
     }
}
.team__manager_content{
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
   align-items: flex-start;
   @include tablets {
    align-items: center;
}
}
.team__manager_job{
margin-top: rem(10px);
margin-bottom:rem(10px);
}
.team__manager_content{
    font-family: 'Ubuntu';
    font-size: rem(12px);
    line-height: 1.6;
    margin-left: rem(10px);
}
.team__manager_service{
    
    width:rem(250px);
}