
.menus{
    background: url("../img5/photo-bg.jpg");
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  &__list, &__item, &__trigger, &__content{
      height: 100%;
  }
  &__list{
      display: flex;
  }
  &__item{
      display: flex;
    &_active{
        .menus__content_wrap{
        width: rem(480px);
        }
            .menus__title{
           color:orange;
        }

      }
  }
  
  &__trigger{
    box-sizing: border-box;
      display: flex;
      width: rem(80px);
      text-decoration: none;
      align-items: flex-end;
    //   margin-bottom: rem(30px);
      padding-bottom: rem(65px);
      background-repeat: no-repeat;
      background-size: cover;
  } 
  &__title{
    white-space: nowrap;
      height: rem(80px);
      width: 100%;
      transform:rotate(-90deg);
      margin-left: rem(20px);
    //   padding-bottom: rem(10px); 
      font-size: rem(30px);
      font-family: "Gagalin";
      color: #fff;
      
  }
  &__content_wrap{
      width:0;
    overflow: hidden;
    transition: 1s;
  }
  &__content{
    padding: rem(40px);
      width: 100%;     
      background-color: rgba(#fff, .5);
      box-sizing: border-box;
  }
}
.title_color1{
    color: #fff;
}
.title_menu{
    position: absolute;
    left: 13%;
    top:15%;
    @include phones {
        display: none;
       } 
}
// .menu__list{
//     display: flex;
//     height: 100%;
// }
// .menu__item{
//     display: flex;
//     height: 100%;
// }
// .menu_img1{
//     display: flex;
//     top: 0;
//     left:840px;
//     width: 80px;
//     height: 100%;
//     background-size: cover;
//     position: absolute;
    
// }
// .menu_img2{
//     display: flex;
//     top: 0;
//     left:920px;
//     width: 80px;
//     height: 100%;
//     background-size: cover;
//     position: absolute;
// }
// .menu_img3{
//     display: flex;
//     top: 0;
//     left:1000px;
//     width: 80px;
//     height: 100%;
//     background-size: cover;
//     position: absolute;
// }
// .menu__link{

// }
// .menu__desc{
//     display: flex;
//     justify-content: flex-end;
// transform: rotate(-90deg);
// }
