.burgers{
    height: 100vh;
    background:linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%  );
}
.burgers__container{
    width: 95%;
    max-width: rem(940px);
    margin: 0 auto;
    display: flex;
    height: 100%;
}
.burgers__container-center{
    align-items: center;
}
.slider{
    position: relative;
   
}
.slider__controls{
    width: 120%;
    // position: absolute;
}
.slider__control_prev{
    background: url('../img3/scroll-left.png');
    background-repeat: no-repeat;
    width: rem(20px);
    height: rem(30px);
    border: none;
    cursor: pointer;
     position: absolute;
    top:50%;
    left: 0;
    margin-left: rem(-10px);

}
.slider__control_next{
    background: url('../img3/scroll-right.png');
    background-repeat: no-repeat;
    width: rem(20px);
    height: rem(30px);
    border: none;
    cursor: pointer;
    position: absolute;
    top:50%;
    right: 0;
    margin-right: rem(-10px);
}
.slider__item{
    position: relative;
}
.title_color_white{
    color: white;

}
.slide__content{
    color: white;
}
.slide{
    display: flex;
    align-items: center;
    @include tablets{
        flex-direction: column;
        // justify-content: center;
        // margin-left: 80px;
    }
    // position: relative;
}
.slide__left, .slide__right {
   
    flex: 1;
    @include tablets{
        flex:auto;
    }
}
.slide__left{
    padding: rem(60px) 0;
    max-width: 100%;
    @include tablets {
         max-width:80%;  
        padding: 0;
        padding-left: 65px;
        // text-align: center;
        // margin-bottom:rem(20px);
    }
}
.slide__right {
    @include tablets {
        text-align: center;
    }   
}
.slide-img{
    padding-top: rem(30px);
    max-width: 100%;
    @include tablets {
        max-width:80%;  
        justify-content: center;
        padding-bottom: 0;
       
    }
   
}
.slide__order{
    display: flex; 
    align-items: flex-end; 
    @include tablets {
        justify-content: center;
    } 
}
.slide__content{
    margin-bottom: rem(20px);
}
.slide__count{
    font-family: "Gagalin";
    font-size: rem(62px);
    color: #e45028;
}
.slide__exchange{
    font-family: "Gagalin";
    font-size: rem(25px);
    color: #e45028;  
    margin-left: rem(10px);
}
.slide__btns{
    margin-left: rem(25px);
}
.compound{
    display:flex;
    height: rem(80px);
    width: rem(80px);
    border-radius: rem(4px);
    background-color:#e45028;  
    position: absolute;
    top: 0;
    left: 0;
      
}
.slide__down{
position: absolute;
left: 100%;
top: 0;
width: rem(225px);
height: rem(265px);
background-color: white;
opacity:0.9;
display: none;
}
.compound:hover .slide__down{
display:block;
}
.slide__down_list{
padding: rem(10px);
}
.slide__down_item{
    margin: rem(10px) rem(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide__down_img{
    width: rem(30px);
    height: rem(30px);
    
}
.img__buns{
    margin:rem(5px);
    margin-left: rem(-3px);
    width: rem(35px);
    height: rem(20px);
    // margin-bottom: 3px;
}
.ingredient{
    font-size: rem(13px);
    font-weight: 600;
    
}

.kkal{
    display:flex;
    height: rem(80px);
    width: rem(80px);
    border-radius: rem(4px);
    // background-color:#e45028;  
    position: absolute;
  bottom: 0;
    left: 0;
    @include tablets {
        bottom:auto;
        left:auto;
        top: -4px;
        right: 0;
    }
  }
 .kkal__icon{
    position: absolute; 
    top:rem(5px);
    left:rem(10px);  
    width: rem(100px);
    height:rem(100px);
    background: url("../img3/kkal.png"); 
    background-repeat: no-repeat;   
 } 
.compound__icon{ 
    position: absolute; 
    top:rem(9px);
    left:rem(15px);  
    width: rem(50px);
    height: rem(50px);
    background: url("../img3/burger.png");
    background-repeat: no-repeat;
    
}
.compound__text{
    font-family: "Gagalin";
    font-size: rem(15px);
    color: #fff;
    position: absolute;
    top: rem(50px);
    left: 0px; 
    
}
.kkal__count{
    font-family: "Gagalin";
    font-size: rem(20px);
    color: #fff;
    position: absolute;
    top: rem(30px);
    left: rem(15px);    
}
.kkal__text{
    font-family: "Gagalin";
    font-size: rem(15px);
    color: #fff;
    position: absolute;
    top: rem(70px);
    left: rem(15px);   
}

