html, body {
    // font-size: 16px;
    width: 100%;
    height: 100%;
}
.intro{      
    background: url("../img1/video-bg.jpg"); 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.section{
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
position: relative;  
}
.button {
    padding: rem(10px) rem(15px);
    border-radius: rem(5px);
    text-decoration: none;
    font-size: rem(13px);
    text-transform: uppercase;
    color: #fff;
    border: none;
    cursor: pointer;
}
.header{
   
    padding-top: rem(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.intro__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left:  rem(100px);    
    
    @include tablets {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0, .9);        
        z-index:1;
         display:none;
    }
}
.open__menu{
    
    @include tablets {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0, .9);        
        z-index:1;
         display:block;
    }  
}
.img__close{
    display: none;
    @include tablets {
        position: absolute;
        display: block;
        right: 0px;
        top: 0;
    }
}
// .intro__logotype{   
    
// }
.order__menu{
    display: flex;
}
.btn-menu{
    border:0;
    background: none;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 0.2rem;
}
.btn-menu__line{
    display: block;
    width: rem(20px);
    height: rem(2px);
    border-radius: rem(1px);
    background: #fff;
    margin-bottom: rem(3px);
}
.btn-menu__line:last-child{
    margin-bottom: 0;
}
.menu__btn{
    display:none;
 @include tablets {
     display:flex;
 }   
}
.intro__list{
    display: flex;
    color:  #ffffff;
    font-size:  rem(13px);
    font-weight:medium; 
@include tablets{
    flex-direction: column;
    align-items: center;
}
   
}

.intro__item{
    display: flex;
    align-items: center;
    @include tablets{
        margin-bottom: 20px;
    } 
   
}
.intro__item::after{
    content:'';
    display:flex;
     
    width: rem(5px);
    height: rem(5px);
    border-radius:50%;
    background-color:  #ffffff;
    margin-right: rem(15px);
    margin-left: rem(15px);
    @include tablets{
        display: none;
    }
    }
   .intro__item:last-child::after{
       display: none;
   } 
   .intro__item:first-child::after{
    display: none;
} 

.intro__contact{
    /* padding-top:30px;   */
} 
.intro__link{
    color:  #ffffff;
    text-decoration: none;   
}   
.button_orange{
    
    background-color: #e45028;
    color:#ffffff;
    
   }
.button_margin{
    margin-left:  rem(15px);
}   
.intro__natural-burger{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 0.7;
    @include tablets {
        flex-direction: column;
    }   
}
.intro__burger{
   
        display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;   
}

.intro__steam{
    @include tablets {
    max-width:60%;
    margin-bottom:rem(20px);
    }
    @include phones {
       margin-bottom: rem(20px);
    }

}

.intro__content{
    display:flex; 
    flex-direction:column;
    align-items: center; 
    // margin-left: rem(20px);
}
.title{
    font-family: "Gagalin";
   
font-size:  rem(62px);
font-weight: 400;
line-height:  rem(52.5px); 
margin-bottom: rem(20px);
@include tablets {
    font-size:  rem(56px);
    
}
@include phones {
    font-size:  rem(46px);
}
}
.title_color_orange{
    color: #f9b43b;
}
.intro__desc{
    
    font-family: "lifehack"; 
    color:#ffffff;
    font-weight: 500;
    font-size:  rem(46px);
    @include tablets {
       text-align: center;
    }
}
.switcher__list{
    position: fixed;
    display:flex;
    flex-direction: column; 
    align-items: center;
      top:  rem(80px);
    right:  rem(50px);
    @include tablets {
        display: none; 
           }

}

.switcher__link{
    display:flex;
    justify-content: center;
    align-items: center;
    width:  rem(15px);
    height:  rem(15px);
    border-radius: 50%;
    border: rem(1px) transparent solid;
    margin-bottom: rem(7.5px); 
}
.switcher__link::before{
    content:'';
    display:flex;
    justify-content: center;
    align-items: center;
    width: rem(5px);
    height: rem(5px);
    border-radius:50%;
    background-color:  #ffffff;
    
   
}
.switcher__link_active{
   border-color:#fff; 
}
.switcher__link:hover{   
    border:1px solid #ffffff;
}
.switcher__link:active{
    
    border:1px solid #ffffff;
    
}

.intro__scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    bottom: 20px;
    left: 50%;
}
