html, body {
    // font-size: 16px;
    width: 100%;
    height: 100%;
}
.intro{      
    background: url("../img1/video-bg.jpg"); 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.section{
height: 100vh;
/* min-height: 650px; */
background-size: cover;
background-repeat: no-repeat;  
}
.button {
    padding: rem(10px) rem(15px);
    border-radius: rem(5px);
    text-decoration: none;
    font-size: rem(13px);
    text-transform: uppercase;
    color: #fff;
    border: none;
    cursor: pointer;
}
.header{
   
    padding-top: rem(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height:60px; */
}
.intro__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include tablets {
        display:none;
    }
}
.intro__logotype{    
    margin-right:  rem(100px);
}
.order__menu{
    display: flex;
}
.btn-menu{
    border:0;
    background: none;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 0.2rem;
}
.btn-menu__line{
    display: block;
    width: rem(20px);
    height: rem(2px);
    border-radius: rem(1px);
    background: #fff;
    margin-bottom: rem(3px);
}
.btn-menu__line:last-child{
    margin-bottom: 0;
}
.menu__btn{
    display:none;
 @include tablets {
     display:flex;
 }   
}
.intro__list{
    display: flex;
    color:  #ffffff;
    font-size:  rem(13px);
    font-weight:medium; 
    // margin-bottom: rem(20px);
}

.intro__item{
    display: flex;
    align-items: center; 
    /* margin-right:20px;     */
}
.intro__item::after{
    content:'';
    display:flex;
     /* align-items: center;   */
    width: rem(5px);
    height: rem(5px);
    border-radius:50%;
    background-color:  #ffffff;
    margin-right: rem(15px);
    margin-left: rem(15px);
    }
   .intro__item:last-child::after{
       display: none;
   } 

.intro__contact{
    /* padding-top:30px;   */
} 
.intro__link{
    color:  #ffffff;
    text-decoration: none;   
}   
.button_orange{
    /* margin-bottom:15px; */
    background-color: #e45028;
    color:#ffffff;
    
   }
.button_margin{
    margin-left:  rem(15px);
}   
.intro__natural-burger{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  rem(-92px);
    @include tablets {
        flex-direction: column;
    }   
}

.intro__steam{
    
     /* width: 360px; 
    height: 343px; */
    margin-top:rem(15px);
    margin-right:  rem(20px); 
    margin-bottom: rem(30px); 
    @include tablets {
 width: 300px; 
 height: 280px; 
    } 
}

.intro__content{
    display:flex; 
    flex-direction:column;
    align-items: center; 
}
.title{
    font-family: "Gagalin";
    color: #f9b43b;
font-size:  rem(62px);
font-weight: 400;
line-height:  rem(42.5px); 
margin-bottom: rem(20px);
@include tablets {
    font-size:  rem(56px);
}
}
.intro__desc{
    
    font-family: "lifehack"; 
    color:#ffffff;
    font-weight: 500;
    font-size:  rem(50px);
    @include tablets {
       text-align: center;
    }
}
.switcher__list{
    position: fixed;
    display:flex;
    flex-direction: column; 
    align-items: center;
      top:  rem(80px);
    right:  rem(50px);

}

.switcher__link{
    display:flex;
    justify-content: center;
    align-items: center;
    width:  rem(15px);
    height:  rem(15px);
    border-radius: 50%;
    border: rem(1px) transparent solid;
    margin-bottom: rem(7.5px); 
}
.switcher__link::before{
    content:'';
    display:flex;
    justify-content: center;
    align-items: center;
    width: rem(5px);
    height: rem(5px);
    border-radius:50%;
    background-color:  #ffffff;
    /* position: relative; */
   
}
.switcher__link_active{
   border-color:#fff; 
}
.switcher__link:hover{   
    border:1px solid #ffffff;
}
.switcher__link:active{
    
    border:1px solid #ffffff;
    
}

.intro__scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:  rem(15px);
}
