

.section__map{
    height:650px;
    background-size: cover;
background-repeat: no-repeat; 

}
.map{
    background: url("../img9/map.jpg");
    background-repeat: no-repeat;     
}
.footer{
    display: flex;
    /* height: 60px; */
    width:100%;
    background: url("../img9/footer.jpg");
    /* background-repeat: no-repeat;   */
    
}
.contain{
    width: 100%;
    margin:10px 80px;
    display: flex;
    justify-content: space-between;
    
}
.footer__left{
    width: 50%;
}
.footer__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__left_contact{
    display: flex;
    color: #fff;
    margin-bottom:5px;
}

/* .footer__left{
    width: 50%;
}
.footer__left_contact{
    color: #fff;
} */
.footer_phone::before{
    content: '';
     display: block; 
     width: 12px;
    height: 11px; 
     background: url('../img9/phone.png');
    margin-right: 10px;
}
.footer_phone{
    display: flex;
    align-items: center;
   color:#e45028;
}
.footer__right{
    width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social__list{
    display: flex;
}
.vk-icon{
    fill:#e45028;
    width:25px;
    height: 15px;
    margin-left: 20px;
}
.fb-icon{
    fill:#595959;
    width:20px;
    height: 20px;
    margin-left: 20px;
}
.inst-icon{
    fill:#595959;
    width:20px;
    height: 20px;
    margin-left: 20px;
}
.twitter-icon{
    fill:#595959;
    width:17px;
    height: 20px;
    margin-left: 20px;
}
.vk-icon:hover{
    fill:#fff;   
}
.fb-icon:hover{
    fill:#fff;   
}
.inst-icon:hover{
    fill:#fff;   
}
.twitter-icon:hover{
    fill:#fff;   
}