.reviews__list{
    background:black;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.reviews__item{
    height: 50%;
    width: 25%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: grayscale(100%);
    position: relative;
}
.reviews__hover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.7);
     opacity: 0; 
    visibility: hidden;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
 .reviews__item:hover .reviews__hover{
      
    opacity: 1;
    visibility: visible;
} 

.reviews__title{
    color:  #ffffff;
    font-family:'Gagalin';
    font-size: 14px;
        /* position: relative;  */
        margin-bottom: 20px; 
    }
.reviews__text{
    color:  #ffffff;
    font-family:'Ubuntu';
    font-weight: 300;
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 10px;
    /* position: relative;     */
}
.button_black{
    background-color: #141414;
    color:#ffffff; 
    
    }
