.best{      
    background: url("../img2/bg.jpg"); 
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;  
}
.container__center{
    justify-content: center;
    @include tablets {
        max-width: 768px;
        }  
        @include phones {
            max-width: 480px;
            } 
}
.best__container{
    
  
    display: flex;
   flex-direction: column;
   align-items: center;
  
}
.title_color{
    color:#2f3234;
    margin-bottom: rem(50px);
}
.best__list{
    display:flex;
    
    justify-content:space-between;
    @include phones {
    flex-direction: column;
    }  
}
.best__item{
    display:flex;
    
    flex-direction: column;
    align-items: center;
    flex: 1;
     padding:0 rem(10px); 
     @include phones {
        flex-direction: initial;
        margin-bottom: 20px;
        }  
}
.best__icon{
    min-width: rem(100px);
    display: flex;
    justify-content: center;
    
}
.best__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include phones{
        align-items: flex-start;
        margin-left: 10px;
        
    }
    
}
.best__title{
    color:#2f3234;
    font-family: 'lifehack';
    font-size: rem(24px);
    margin-bottom: rem(10px);
}
.best__desc{
     color:#2f3234;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    text-align: center;
    max-width: rem(450px);
    @include phones{
        text-align: left;
    }
    
}