.order{
    background: url('../img9/layer.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    flex-direction: column;   
}
.container__center{
    justify-content: center;
}
.order__title{
    display: flex;
    justify-content: center;
    margin-bottom: rem(30px);
    @include phones {
        flex-wrap: wrap;
       align-items: center;
       }
}
.title__align{
    @include phones {
        text-align: center;
       align-items: center;
       }   
}
.form{
    font-size: rem(14px);
    color: #fff;
    display: flex;
     justify-content: space-between;
     align-items: center;
}
 .form__container{
     display: flex;
     justify-content: space-between;
     @include tablets {
        flex-direction: column;
       }
     
 }

.form__left{
    width: 50%;
    @include tablets {
        width: 100%;
       }
}
.form__row{
    // margin-left:rem(15px);
    // margin-right: rem(50px); 
    margin-bottom: rem(15px);
    display: flex;
}
.form__block{
    flex: 1;
    margin-left: rem(20px);

    &:first-child{
    margin-left: 0;
    }

}
.form__input{
    padding: rem(5px) rem(20px);
    border:none;
    background: #fff;
    border-radius: rem(5px);
    width: 100%;
    outline: none;
    box-sizing: border-box;
}
.form__input:focus{
    border:1px solid #f89513;
}
.form__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left:rem(20px); 
    @include tablets {
        margin-left:0;
        width: 100%;
       }
  
}
.form__textarea{
//     margin-right: rem(35px);
 margin-bottom: rem(15px);  
//     // height: 200px;
//     // width: 50%;
}
.form__textarea-text{
    // margin-right: rem(40px);
    
}
.form__textarea-message{
    // margin-left: rem(10px);
    // margin-bottom: rem(10px);    
    border-radius: rem(5px);
    height: rem(80px);
    width: 100%;
    resize:none; 
    outline: none;
    box-sizing: border-box;
}
.form__textarea-message:focus{
    border:1px solid #f89513;
}
.form__content-radio{
    display:flex;
    justify-content: space-between;
    margin-bottom: rem(10px);
}
.form__content-photo{
    // display:flex;
    // flex-direction:column;
}


.form__input-fake{
    display:flex;
    justify-content: center;
    align-items: center;
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    background: #fff;
    // border:2px solid #656464;
}
.form__input-fake::before{
    content:"";
     display:block; 
    width: rem(0px);
    height: rem(0px);
    border-radius: 50%;
    /* border:2px solid #f89513; */
    background-color: #f89513;
    position:absolute;
    transition: .5s;
    
}
.form__input-radio:checked+ .form__input-fake::before{
    width: rem(5px);
    height: rem(5px);
}
.form__wrap{
    display: flex;
}
.form__label{
    display: flex;
    // margin: rem(10px;
    // margin-left:rem(10px);
    align-items: center;
    position:relative;
    margin-right: 10px;
}
.form__input-radio{
    position:absolute;
    /* text-outline: 0; */
    left: rem(-9999px);
}
.form__input:checked+ .form__input-fake + .form__label-name{
    color:#f89513;
}
.form__label-name{
    margin-left: rem(5px);
}
// .squared__button:before{
//     content:"";
//      display:block; 
//     width: 0px;
//     height: 0px;
//     background-color: #fff;
//     width: 15px;
//     height: 15px;
//     margin-right: 10px;
// }
// .squared__button{
//     display: flex;
//     align-items: center;
//     margin-left:10px;
//    color:#e45028;}

.form__content-checkbox{
    margin-bottom: rem(10px);
    // margin-left: 10px;
}
.form__input-fake-checkbox{
    display:flex;
    justify-content: center;
    align-items: center;
    width: rem(15px);
    height: rem(15px);
    background: #fff;
    
       // border:2px solid #656464;
}
.form__input-fake-checkbox::before{
    content:"";
     display:block; 
    width: rem(0px);
    height: rem(0px);
    /* border:2px solid #f89513; */
    background-color: #f89513;
    position:absolute;
    transition: .5s;
    
}
.form__input-checkbox:checked+ .form__input-fake-checkbox::before{
    background: url("../img9/marker.png");
}

.form__label-checkbox{
    display: flex;
    // margin: rem(10px);
    // margin-left: rem(10px);
    align-items: center;
    position:relative;
    
}
.form__input-checkbox{
    position:absolute;
    /* text-outline: 0; */
    left: rem(-9999px);
}
.form__input-checkbox:checked+ .form__input-fake-checkbox + .form__label-name-checkbox{
    color:#fff;
}
.form__label-name-checkbox{
    margin-left: rem(5px);   
}
.form__buttons{
    display: flex;
    align-items: center;
}
.button-size{
    // width: 20%;
    // margin-left: rem(10px);    
}
.clear{
    margin-left: rem(20px);
    text-decoration: none;
    color: #fff;
}
