

.section__map{
//     
//     background-size: cover;
// background-repeat: no-repeat; 
// position: relative;
}

.map{
    background: url("../img9/map.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;  

}

.footer{
    position: absolute;
    padding: rem(10px) 0;
    display: flex;
   
    width:100%;
    background: url("../img9/footer.jpg");
    left: 0;
    bottom: 0;
    
    
}
.container__row{
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include phones{
        align-items: center;
        flex-direction: column;
    }    
}


.footer__left{
    width: 50%;
    @include phones{
        width: 100%;
    }
}

.footer__contact{
    display: flex;
    color:#fff; 
    margin-bottom:5px;
    
    @include phones{
        
        justify-content: center;
    }   
}


.footer_phone::before{
    content: '';
     display: block; 
     width: 12px;
    height: 11px; 
     background: url('../img9/phone.png');
    margin-right: 10px;
}
.footer_phone{
    display: flex;
    align-items: center;
   color:#e45028;
   text-decoration: none;
   font-weight: 600;
   @include phones{
    justify-content:center;
    margin-bottom: 10px;
}  
}
.footer__right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    @include phones{
        width: 100%;
        justify-content: center;
    }
  
}
.social__list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include phones{
        justify-content: center;
    }   
}
.social__item{
    margin-left:rem(20px);
}
.social__item:first-child{
    margin-left: 0;
}
.vk-icon{
    fill:#595959;
    width:rem(25px);
    height: rem(15px);
   
}
.fb-icon{
    fill:#595959;
    width:rem(20px);
    height: rem(20px);
   
}
.inst-icon{
    fill:#595959;
    width:rem(20px);
    height: rem(20px);
    
}
.twitter-icon{
    fill:#595959;
    width:rem(17px);
    height: rem(20px);
     
}
.vk-icon:hover{
    fill:#fff;   
}
.fb-icon:hover{
    fill:#fff;   
}
.inst-icon:hover{
    fill:#fff;   
}
.twitter-icon:hover{
    fill:#fff;   
}