.order{
    background: url('../img9/layer.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    // display: flex;
    // justify-content: center; 
    // flex-direction: column;   
}
.container__center{
    // justify-content: center;
    align-items: center;

}
// .order__title{
//     display: flex;
//     justify-content: center;
//     margin-bottom: rem(30px);
//     @include phones {
//         flex-wrap: wrap;
//        align-items: center;
//        }
// }
.title__align{
    @include phones {
        text-align: center;
       align-items: center;
       }   
}
.form{
    font-size: rem(14px);
    color: #fff;
    display: flex;
     justify-content: space-between;
     align-items: center;
}

 .form__container{
     display: flex;
     justify-content: space-between;
     @include tablets {
        flex-direction: column;
        padding:0 40px;
       }
       @include phones {
    
        padding:0 0;
       }
     
 }

.form__left{
    width: 50%;
    @include tablets {
        width: 100%;
       }
}
.form__row{
     
    margin-bottom: rem(15px);
    display: flex;
}
.form__block{
    flex: 1;
    margin-left: rem(20px);

    &:first-child{
    margin-left: 0;
    }

}
.form__input{
    padding: rem(5px) rem(20px);
    border:none;
    background: #fff;
    border-radius: rem(5px);
    width: 100%;
    outline: none;
    box-sizing: border-box;
}
.form__input:focus{
    border:1px solid #f89513;
}
.form__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left:rem(20px); 
    @include tablets {
        margin-left:0;
        width: 100%;
       }
  
}
.form__textarea{

 margin-bottom: rem(15px);  

}
.form__textarea-text{
    // margin-right: rem(40px);
    
}
.form__textarea-message{
       
    border-radius: rem(5px);
    height: rem(80px);
    width: 100%;
    resize:none; 
    outline: none;
    box-sizing: border-box;
}
.form__textarea-message:focus{
    border:1px solid #f89513;
}
.form__content-radio{
    display:flex;
    justify-content: space-between;
    margin-bottom: rem(10px);
}


.form__input-fake{
    display:flex;
    justify-content: center;
    align-items: center;
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    background: #fff;
    
}
.form__input-fake::before{
    content:"";
     display:block; 
    width: rem(0px);
    height: rem(0px);
    border-radius: 50%;
    
    background-color: #e45028;
    position:absolute;
    transition: .5s;
    
}
.form__input-radio:checked+ .form__input-fake::before{
    width: rem(5px);
    height: rem(5px);
}
.form__wrap{
    display: flex;
}
.form__label{
    display: flex;
    
    align-items: center;
    position:relative;
    margin-right: 10px;
}
.form__input-radio{
    position:absolute;
   
    left: rem(-9999px);
}
.form__input:checked+ .form__input-fake + .form__label-name{
    color:#f89513;
}
.form__label-name{
    margin-left: rem(5px);
}


.form__content-checkbox{
display: flex;
justify-content: space-between;

    margin-bottom: rem(10px);
    
}
.form__input-fake-checkbox{
    display:flex;
    justify-content: center;
    align-items: center;
    width: rem(15px);
    height: rem(15px);
    background: #fff;
    
       
}
.form__input-fake-checkbox::before{
    content:"";
     display:block; 
    width: rem(0px);
    height: rem(0px);
    
    background-color: #f89513;
    position:absolute;
    transition: .5s;
    
}
.form__input-checkbox:checked+ .form__input-fake-checkbox::before{
   
    background: url("../img9/marker.png");
    margin-top: (3px);
    margin-left: (2px);
    width: rem(15px);
    height: rem(15px);
    background-repeat: no-repeat;
}

.form__label-checkbox{
    display: flex;
   
    align-items: center;
    position:relative;

    margin-right: rem(10px);
    
}
.form__input-checkbox{
    position:absolute;
    
    left: rem(-9999px);
}
.form__input-checkbox:checked+ .form__input-fake-checkbox + .form__label-name-checkbox{
    color:#fff;
}
.form__label-name-checkbox{
    margin-left: rem(5px);   
}
.form__buttons{
    display: flex;
    align-items: center;
}
.button-size{
    // width: 20%;
    // margin-left: rem(10px);    
}
.clear{
    margin-left: rem(20px);
    text-decoration: none;
    color: #fff;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, .9);
    position:fixed;
    top: 0;
    left: 0;
    display: none; 
}
.popap{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#fff; 
    font-style: 'Ubuntu';
    font-size:400;
    width: rem(200px);
    height: rem(150px);
    color: #000;
  
}
.popap__text{
  display: flex; 
}
.popap__button {
    padding: rem(10px) rem(15px);
    border-radius: rem(5px);
    text-decoration: none;
    font-size: rem(13px);
    text-transform: uppercase;
    background-color: #e45028;
    color: #fff;
    border: none;
    cursor: pointer;
}

